<h1>Ajoutez une Actualité</h1>

<form action="/admin/actualites/addActu" enctype="multipart/form-data" method="post">
	<label>Titre de l'actualité</label>
	<input type="text" name="titre">
	<label>Contenu de l'actualité</label>
	<input type="file" name='myfile'>
	<textarea name="contenu"></textarea>
	
	
	<input type="submit" name="Enregistrer">
</form>