<h2>Ajoutez une Image</h2>

<form action="/admin/images/addImage" enctype="multipart/form-data" method="post">
	<label>Titre de l'image</label>
	<input type="text" name="titre">
	<label>Aperçu de l'image</label>
	<input type="file" name='myfile'>
	
	
	
	<input type="submit" name="Enregistrer">
</form>