<h1>Ajoutez une Vidéo</h1>

<form action="/admin/actualites/addVideo" enctype="multipart/form-data" method="post">
	<label>Titre de la vidéo</label>
	<input type="text" name="titre">
	<label>url de la vidéo</label>
	<input type="url" name="url">	
	
	<input type="submit" name="Enregistrer">
</form>