<h2>Ajoutez une Vidéo</h2>

<form class="admin_form" action="/admin/videos/addVideo" method="post">
	<p>
		<label>Titre de la vidéo</label>
	</p>
	<p>
		<input type="text" name="titre" required>
	</p>
	<p>
		<label>url de la vidéo</label>
	</p>
	<p>
		<input type="url" name="url" required>
	</p>
	
	
	
		
	
	<input type="submit" name="Enregistrer">
</form>