<h1>Accueil Admin</h1>

<a href="/admin/actualites">Gestion des Actualités</a>
<a href="/admin/classes">Gestion des Classes</a>
<a href="/admin/medias">Gestion des Médias</a>
<a href="/admin/utilisateurs">Gestion des Utilisateurs</a>