


<h2>Accueil Admin</h2>

<section class="accueil-admin">
    <p><a href="/admin/actualites">Gestion des Actualités</a></p>
    <p><a href="/admin/classes">Gestion des Classes</a></p>
    <p><a href="/admin/videos">Gestion des Vidéos</a></p>
    <p><a href="/admin/images">Gestion des Images</a></p>
</section>  
        
  

<!-- <a href="/admin/actualites">Gestion des Actualités</a>
<a href="/admin/classes">Gestion des Classes</a>
<a href="/admin/videos">Gestion des Vidéos</a>
<a href="/admin/images">Gestion des Images</a> -->