<h2>Accueil Admin</h2>

<a href="/admin/actualites">Gestion des Actualités</a>
<a href="/admin/classes">Gestion des Classes</a>
<a href="/admin/videos">Gestion des Vidéos</a>
<a href="/admin/images">Gestion des Images</a>