<h1>Editez un article</h1>

<form class="admin_form" action="/admin/videos/editVideo/<%=videos.id%>" method="post">
	<input type="hidden" name="id" value="<%=videos.id%>" />
	<p>
		<label>Titre de la video</label>
	</p>
	<p>
		<input type="text" name="titre" value="<%=videos.titre%>" required>
	</p>
	<p>
		<label>Url de la video</label>
	</p>
	<p>
		<input type="url" name="url" required>
	</p>
	<p>
		<button class='js-form-submit' type="submit">Enregistrer</button>
	</p>
	
	
	
	
	
	
	
</form>