<h1>Editez un article</h1>

<form action="/admin/actualites/editActu/<%=actus.id%>" method="post">
	<input type="hidden" name="id" value="<%=actus.id%>" />
	<label>Titre de l'actu</label>
	<input type="text" name="titre" value="<%=actus.titre%>">
	<label>contenu de l'article</label>
	<textarea name="contenu"><%=actus.contenu%></textarea>
	
	<button class='js-form-submit' type="submit">Enregistrer</button>
</form>