<form class="admin_form" action="/admin/images/editImage/<%= images.id %>" enctype="multipart/form-data" method="post">
	
	<p>
		<label>Titre de l'image</label>
	</p>
	<p>
		<input type="text" name="titre" value="<%= images.titre %>" required>
	</p>
	<p>
		<label>Aperçu de l'image</label>
	</p>
	<p>
		<input type="file" name="myfile" required>
	</p>
	<p>
		<input type="submit" name="Enregistrer">
	</p>

</form>
