<article class="nous">
  <h2>Qui somme nous</h2>
  
  <img class="nous-img" src="/images/front/multi-charachters.png" alt="multi-characters">
  
  <div class="nous-txt">
    <p class="nous-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="nous-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="nous-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</article>




<div class="home">
  <h2>Dernières News</h2>
    <% for(let i = 0; i < actualites.length; i++) { %>
      <article class="home-news">
        <h3><%= actualites[i].titre %></h3>
        <div class="news-content">
          <p><%= actualites[i].contenu.substring(0, 70) %>...</p>
          <img src="/<%=actualites[i].image_url%>" alt="<%= actualites[i].titre %>">
        </div>

      </article>
    <% } %>
</div>



