<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>ESOTALES</title>
</head>
<body>
    <header class="header">
        <div class="header-image"></div>
            <h1>ESOTALES</h1>
            <nav class="navbar">
                <ul class="navbar-list">
                  <li class="nav-link"><a href="/">Accueil</a></li>
                  <li class="nav-link"><a href="#">Actualité</a></li>
                  <li class="nav-link"><a href="#">Classes</a></li>
                  <li class="nav-link"><a href="#">Galerie</a></li>
                </ul>
              </nav>
            </div>

    </header>
    <main>
     
        <%- include(template) -%> 
    </main>
    <footer>
        <p class="reseaux-sociaux">Réseaux sociaux</p>
        
        <p class="mentions-legales">Mentions legales</p>
    </footer>
</body>
</html>