<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>ESOTALES</title>
</head>
<body>
    <header class="header">
        <div class="log_admin">
            <a href="/register">inscription</a>
            <a href="/login">login</a>
            <a href="/admin">admin</a>
            <a href="/logout">logout</a>
            <button id="modeDyslexique">Dyslexique</button>

        </div>
        
        <div class="header-image"></div>
            <h1>ESOTALES</h1>
            <nav class="navbar">
                <ul class="navbar-list">
                  <li class="nav-link"><a href="/">Accueil</a></li>
                  <li class="nav-link"><a href="/actusIndex">Actualité</a></li>
                  <li class="nav-link"><a href="/classesIndex">Classes</a></li>
                  <li class="nav-link"><a href="/galerie">Galerie</a></li>
                </ul>
              </nav>
            

    </header>
    <main class="main">
     
        <%- include(template) -%> 
    </main>
    <footer class="footer">
        <div class="reseaux-sociaux">
            <h3 >Réseaux sociaux</h3>
            <div class="logo-reseaux">
                <i class="fa-brands fa-discord"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitch"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-spotify"></i>
            </div>
        </div>
        
        <div class="mentions-legales">
            <h3 >Mentions legales</h3>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laborum cupiditate eos blanditiis laboriosam aliquam eveniet sint aperiam numquam error, provident ad facere eum recusandae architecto, ea necessitatibus officiis esse</p>
        </div>
    </footer>
    <script src="/js/index.js"></script>
</body>

</html>