<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat&family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>ESOTALES</title>
</head>
<body>
    <header class="header">
        <div class="header-image"></div>
            <h1>ESOTALES</h1>
            <nav class="navbar">
                <ul class="navbar-list">
                  <li class="nav-link"><a href="/">Accueil</a></li>
                  <li class="nav-link"><a href="/actusIndex">Actualité</a></li>
                  <li class="nav-link"><a href="/classesIndex">Classes</a></li>
                  <li class="nav-link"><a href="/galerie">Galerie</a></li>
                </ul>
              </nav>
            </div>

    </header>
    <main>
     
        <%- include(template) -%> 
    </main>
    <footer class="footer">
        <div class="reseaux-sociaux">
            <p >Réseaux sociaux</p>

            <i class="fa-brands fa-discord" style="color: #404eed;"></i>
            <i class="fa-brands fa-youtube" style="color: #fa2500;"></i>
            <i class="fa-brands fa-twitch" style="color: #8a00bd;"></i>
            <i class="fa-brands fa-instagram" style="color: #732d21;"></i>
            <i class="fa-brands fa-spotify" style="color: #01df61;"></i>
            
        </div>
        
        <div class="mentions-legales">
            <p >Mentions legales</p>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laborum cupiditate eos blanditiis laboriosam aliquam eveniet sint aperiam numquam error, provident ad facere eum recusandae architecto, ea necessitatibus officiis esse</p>
        </div>
    </footer>
</body>
</html>