<h2>Inscription</h2>

<form class="admin_form" action="/register" method="post">
	<p>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required>
	</p>
	<p>
		<label for="nom">nom</label> 
		<input type="text" id="nom" name="nom" required>
	</p>
	<p>
		<label for="password">Mot de passe</label>
		<input type="password" id="password" name="password" required>
	</p>

	<p><input type="submit" value="S'inscrire"></p>
	
    
	
	
	
</form>