
/************************************
Normalisation du Layout
****************************/
*{
  box-sizing: border-box;
}


html {
    font-size: 62.5%;
    padding : 0;
    font-family: 'Roboto', sans-serif;
}



body {
    font-size: 1.6rem;
    margin: 0;
    width: 100%;
}

header {
  position: relative;
}
.log_admin{
  background-color: rgba(78, 65, 45, 100%);

}
.log_admin a {
  color:rgba(255, 255, 255, 100%); 
  text-decoration: none;
}
.header-image {
  width: 100%;
  background-image: url("/images/front/ELF.jpg");
  background-position: center;
  background-size: cover;
  height: 30rem; 
}
h1 {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3rem;
  z-index: 1;
  align-items: center;
  margin: 0%;
  padding: 1rem 0;
  width: 100%;
  background-color: rgba(78, 65, 45, 58%);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.navbar-list {
  list-style-type: none; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  width: 100%; 
  padding: 0;
  margin: 0%;
  background-color: rgba(78, 65, 45, 100%);
}

.navbar-list li {
  margin-right: 1.5rem; 
  padding: 1rem;
  width: 100%;
  border: 0.1rem solid #000; 
  box-sizing: border-box;
}
li.nav-link{
  margin: 0%;
  padding: 0%;
}
.navbar-list a {
  color:rgba(255, 255, 255, 100%); 
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: larger;
}


/*********************
Main du Home
********************/

.main-home {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-image: url("/images/front/universe_witchcraft.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.main-home h2 {
  margin: 0; 
  text-align: center; 
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}
.main-home {
  margin: 0;
  padding: 0;
  list-style: none; 
  
}
.home-news {
  padding:  2% 5%;
  max-width: 90%;
  
  margin: auto;
}
.home-news{
  background-color:rgba(255, 255, 255, 50%);
  border-radius: 2.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.home-news h3 {
  text-align: center; 
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.home-news .news-content {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  background-color:rgba(255, 255, 255, 100%);
  border-radius: 3rem;
  
}

.home-news img {
  width: 50%;
  height: auto;
  border-radius: 3rem;
  
}

.home-news p {
  width: 50%;
  font-size: 20px;
  margin:  1rem 1rem;
}

/*********************
Main de l'index actualité
********************/
.index-actus {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  /* background-image: url("/images/front/paysage-fantasy-multi-tower_2.jpg"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.index-actus h2 {
  margin: 0; 
  text-align: center; 
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

/************************ Coté Admin *******************/


/*************
Accueil admin
**************/
.accueil-admin p{
  margin: 3rem 0;
  padding: 3rem 5rem;
  background-color:rgba(255, 255, 255, 50%);
  border-radius: 2.5rem;
}

/*************
gestion d'actualité
**************/
.admin-table {
  width: auto;
  border-collapse: collapse;
  border: 1px solid
}

.admin-table th{
  background-color:rgba(255, 255, 255, 100%);
  border: 1px solid
}
.admin-table td{
  background-color:rgba(255, 255, 255, 50%);
  border: 1px solid
}

.mini-img {
  width: 75%;
  align-items: center;
}
.admin_form {
  background-color:rgba(255, 255, 255, 50%);
  border: 1px solid;
}
.admin_form p {
  display: flex;
  justify-content: center;
}




/*************
FOOTER
**************/
.footer{
  background-color: rgba(78, 65, 45, 100%);
  color: #ffffff;
}

.reseaux-sociaux h3 {
  margin-top: 0%;
  text-align: center;
}

.logo-reseaux{
  display: flex;
  justify-content: space-around; 
}


.fa-brands{
  font-size: 3rem;
}

.mentions-legales{
  text-align: center;
  margin-top: 3rem;
}
.mentions-legales p{
  margin-bottom: 0;
}

/******** pour le desktop
/* .accueil-admin p:hover{
  padding: 5rem 7rem;
  background-color:rgba(255, 255, 255, 75%);
} */